body{
  background-color: black;
}
/* CSS FOR HEADER AREA */
.mainheading{
color: white;
font-size: 31px;
font-family: 'Trebuchet MS';
border: white 1px solid;
margin-left: 40%;
padding: 10px;
padding-left: 23px;
padding-right: 23px;
display: inline;
}
.toggletxt{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 16%;
    display: inline-block;
}
#toggle_action{
  display: none;
}
/* CSS FOR ROUNDED SLIDE BARS */
.switch {
  margin-top: 25px;
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:rgb(54, 51, 51);
    -webkit-transition: .4s;
    transition: .4s;
  }
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  input:checked + .slider {
    background-color: wheat;
  }
 input:focus + .slider {
    box-shadow: 0 0 1px ;
  }
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  .slider.round:before {
    border-radius: 50%;
  }
  /* CSS FOR SEARCH BAR */
  .search-bar{
      margin-top: 4%;
      margin-left: 5%;
      margin-bottom: 70px;
      
  }
  #search{
      width: 92%;
      height: 30px;
      background-color: black;
      color: white;
      font-size: large;
      padding :20px;
      font-size: 30px;
  }
  /* CSSS FOR NEW AREA */
  #news-articles{
    margin-left: 20px;    
    display: flex;
    flex-wrap: wrap;  
  }
  .container{
    max-width: 265px;
    border: black 10px solid;
    height:530px;
    padding:35px;
    margin-left: 9px;
    background-color: rgba(39, 35, 35, 0.986);
    margin-bottom: 20px;
    border-radius: 18px;
    padding-right: 30px;
  }
  .article{
    list-style-type: none;
    display: inline;
 }
 .container:hover{
  transform: scale(1.03);
  box-shadow: 0 0 5px wheat;
  transition: all 0.3s;
 }

  .img_area{
    width:265px;
    height:250px;
    background-color: black;
  }
  .article-img{
    margin-top: 20px;
    width:265px;
    height:205px;
  }
 .article-title{
    background: none;
    font-family: sans-serif;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; 
    -webkit-box-orient: vertical;
  }
  .article-description{
    font-size: 25px;
    color: white;
    background: none;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; 
    -webkit-box-orient: vertical;
    font-family: sans-serif;
  }
  .article-author{
    background: none;
    font-size: 25px;
    font-family: Trebuchet MS;
    color:rgb(43, 173, 216);
    display: block;
    text-align: right;
  }
  .article-link{
    color:white;
    text-decoration: none;
  }
  .not-found{
    color:white;
    font-family: sans-serif;
    font-size: 35px;
    margin-left: 25px;
    list-style-type: none;
  }
  .load{
   color:white;
   font-family: sans-serif;
   font-size: 35px;
   margin-left: 25px;
 }
 
  .lite-mode{
    background-color: wheat;
    color: black;
    font-family: 200px;
    }
